/*resposive file*/
@media only screen and   (max-width:1023px)  {
     .banner .content-banner span {
            font-size: 11px;
     }   
     .header-prc .nav1 {
         display: none;
         opacity: 0;
     }
     .header-prc .res {
         display: block;
         display: none;
     }
     .header-prc .nav1  li a {
         display: block;
         margin: 60px  20px;
     }
     .logo-header {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .btn_off {
         opacity: 1;
     }
     .opa {
        position: relative;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .new-menu {
        display:flex;
        flex-direction: column;
        background-color: #ffffff;
        height: 800px;
        position: absolute;
        width: 0;
        z-index: 99;
        
        
    }
    .new-menu {
        width: 0%;
    }
    .new-menu .HO {
        
        padding: 25px 30px;
        display: inline-block;
        width: 100%;
        margin: 0 0px;
        border-bottom: 1px solid #9c9c9c;
        color: rgb(33,42,47);
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    main .background-img {
        position: absolute;
        inset: 0;
    }
    .side-h {
        height: calc(-90px + 60vh);
    }
    .element {
        width: 500px;
    }
    .shop1 {
        max-width: 437px;
        margin: 8px;
        margin-bottom: 50px;
    }
    .section-shop {
        width: 1500px ;
        overflow-x: hidden;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .image .button {
        display: none;
    }
    .button2 {
    display: flex;
    
    flex-direction: column;
    
    
    text-align: center;
    align-content: center;
    
    z-index: 999;
    width: 100%;
    
    margin-top: 15px;
    transition: opacity 0.5s  ease ;
    
}
.button2 a {
    color: #fff;
    padding: 15px ;
    background-color: rgb(33, 42, 47);
    width: 100%;
    margin: 5px 0 ;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.5s ease ;
    border:  solid 2px rgb(33, 42, 47);
}
.button2 a:hover{
    background-color: #fff;
    color: rgb(33, 42, 47);
    
}
.container-video{
    height: 446px;
}
.content-panel {
    width: 70%;

}
.contaciner-categore {
    padding-left: 0;
}
.container-categorer {
    padding: 0;
}
.content-hero {
  width: 70%;
}
.categorer{
    padding-bottom: 80px;
}
.stories .content-ca-ch {
    overflow-y: hidden;
    flex-direction: column;
}
.content-s  {
    padding-left: 0;
}
.stories .cc {
    width: 100%;
}
.parte1-footer {
    width: 50%;
} 
.parte2-footer {
    width: 80%;
}
    
}
@media (max-width:767px){
    .x1 {
        display: none
    }
    .p1 {
        margin: 0;
    }
    .title-g h1 {
        font-size: 28px;
    }
    .element h1 {
        font-size: 42px;
    }
    .shop1{
        max-width: 366px;
    }
    .container-video{
        height: 252px;
    } 
    .content-panel {
        width: 100%;
    
    } 
    .contaciner-categore {
        padding-left: 32px;
    }
    .content-hero {
        width: 100%;
      } 
      .container-s {
          padding:  0 25px;
      }
      .contaciner-categorer {
          padding-left: 25px;
      }
      .categores22 {
          margin: 20px 0px 30px 12px;
      }
      .parte1-footer {
        width: 100%;
        justify-content: center;
    } 
    .parte2-footer {
        width: 100%;
        margin-bottom: 50px;
        
    }
    .flexeble {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ff1 {
        margin: 20px 0;
    } 
    .ff1 .title-help {
        font-size: 14px;
    }   
    .ff1 ul li {
        margin-bottom: 8px;
    } 
    .parte3-footer {
        flex-direction: column;
    }
    .sicail-media {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .info-so {
        width: 100%;
    }
    .icon-so {
        justify-content: center;
    }
    .certified {
        width: 100%;
        margin-bottom: 30px;
    }
    .certified img {
        width: 80px ;
        height: 120px;
    }
    .banner .content-banner 
    {
        justify-content: center;
    }
    .copyrating p {
        font-size: 10px;
    }
    .barner {
        display: none;
    }
}