/*resposive file*/
@media only screen and   (max-width:1023px)  {
     .banner .content-banner span {
            font-size: 11px;
     }   
     .header-prc .nav1 {
         display: none;
         opacity: 0;
     }
     .header-prc .res {
         display: block;
         display: none;
     }
     .header-prc .nav1  li a {
         display: block;
         margin: 60px  20px;
     }
     .logo-header {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .btn_off {
         opacity: 1;
     }
     .opa {
        position: relative;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .new-menu {
        display:flex;
        flex-direction: column;
        background-color: #ffffff;
        height: 800px;
        position: absolute;
        width: 100%;
        left: -918px;
        z-index: 99;
        transition: transform 0.3s ease-in-out;
        
    }
    .new-menu .HO {
        
        padding: 25px 30px;
        display: inline-block;
        width: 100%;
        margin: 0 0px;
        border-bottom: 1px solid #9c9c9c;
        color: rgb(33,42,47);
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    
}