/*resposive file*/
@media only screen and   (max-width:1023px)  {
     .banner .content-banner span {
            font-size: 11px;
     }   
     .header-prc .nav1 {
         display: none;
         opacity: 0;
     }
     .header-prc .res {
         display: block;
         display: none;
     }
     .header-prc .nav1  li a {
         display: block;
         margin: 60px  20px;
     }
     .logo-header {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .btn_off {
         opacity: 1;
     }
     .opa {
        position: relative;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .new-menu {
        display:flex;
        flex-direction: column;
        background-color: #ffffff;
        height: 800px;
        position: absolute;
        width: 0;
        z-index: 99;
        
        
    }
    .new-menu {
        width: 0%;
    }
    .new-menu .HO {
        
        padding: 25px 30px;
        display: inline-block;
        width: 100%;
        margin: 0 0px;
        border-bottom: 1px solid #9c9c9c;
        color: rgb(33,42,47);
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    main .background-img {
        position: absolute;
        inset: 0;
    }
    .side-h {
        height: calc(-90px + 60vh);
    }
    .element {
        width: 500px;
    }
    .shop1 {
        max-width: 437px;
        margin: 8px;
        margin-bottom: 50px;
    }
    .section-shop {
        width: 1500px ;
        overflow-x: hidden;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .image .button {
        display: none;
    }
    .button2 {
    display: flex;
    
    flex-direction: column;
    
    
    text-align: center;
    align-content: center;
    
    z-index: 999;
    width: 100%;
    
    margin-top: 15px;
    transition: opacity 0.5s  ease ;
    
}
.button2 a {
    color: #fff;
    padding: 15px ;
    background-color: rgb(33, 42, 47);
    width: 100%;
    margin: 5px 0 ;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.5s ease ;
    border:  solid 2px rgb(33, 42, 47);
}
.button2 a:hover{
    background-color: #fff;
    color: rgb(33, 42, 47);
    
}

    
}